.vs/
.vscode/
App_Data/
obj/**/*.txt
obj/**/Bai1.*
obj/**/BaiTH1.csproj.*.cache
obj/**/DesignTimeResolveAssemblyReferencesInput.cache
!/packages/*/lib/*.dll
!/packages/*/lib/*.*.dll
!/packages/*/lib/**/*.*.dll
!/packages/*/lib/*.xml
!/packages/*/lib/*.*.xml
!/packages/*/lib/**/*.*.xml
packages/
!/bin/roslyn/*
bin/

 